Web References/VehIC_WF.SamplingService/SamplingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.lfy.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.lfy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lfy.com/">
      <s:element name="HaveNectRec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="billno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curitemid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HaveNectRecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HaveNectRecResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelTaskFlowInitRec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="billno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curitemid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wpcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="operid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelTaskFlowInitRecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CancelTaskFlowInitRecResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HaveNectRecSoapIn">
    <wsdl:part name="parameters" element="tns:HaveNectRec" />
  </wsdl:message>
  <wsdl:message name="HaveNectRecSoapOut">
    <wsdl:part name="parameters" element="tns:HaveNectRecResponse" />
  </wsdl:message>
  <wsdl:message name="CancelTaskFlowInitRecSoapIn">
    <wsdl:part name="parameters" element="tns:CancelTaskFlowInitRec" />
  </wsdl:message>
  <wsdl:message name="CancelTaskFlowInitRecSoapOut">
    <wsdl:part name="parameters" element="tns:CancelTaskFlowInitRecResponse" />
  </wsdl:message>
  <wsdl:portType name="SamplingServiceSoap">
    <wsdl:operation name="HaveNectRec">
      <wsdl:input message="tns:HaveNectRecSoapIn" />
      <wsdl:output message="tns:HaveNectRecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelTaskFlowInitRec">
      <wsdl:input message="tns:CancelTaskFlowInitRecSoapIn" />
      <wsdl:output message="tns:CancelTaskFlowInitRecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SamplingServiceSoap" type="tns:SamplingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HaveNectRec">
      <soap:operation soapAction="http://www.lfy.com/HaveNectRec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTaskFlowInitRec">
      <soap:operation soapAction="http://www.lfy.com/CancelTaskFlowInitRec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SamplingServiceSoap12" type="tns:SamplingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HaveNectRec">
      <soap12:operation soapAction="http://www.lfy.com/HaveNectRec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelTaskFlowInitRec">
      <soap12:operation soapAction="http://www.lfy.com/CancelTaskFlowInitRec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SamplingService">
    <wsdl:port name="SamplingServiceSoap" binding="tns:SamplingServiceSoap">
      <soap:address location="http://192.168.2.33/VehIC_WS/SamplingService.asmx" />
    </wsdl:port>
    <wsdl:port name="SamplingServiceSoap12" binding="tns:SamplingServiceSoap12">
      <soap12:address location="http://192.168.2.33/VehIC_WS/SamplingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>